### Libraires

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
# reading the dataset!
data = pd.read_csv('Amazon Sales data.csv')

In [3]:
# check the size of the dataset!
data.shape

(100, 14)

In [4]:
# preview the dataset!
data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [5]:
# preview the columns names
data.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

## Data Preprocessing

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB

In [17]:
data.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+02,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,5.550204e+08,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,2.606153e+08,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,3.389225e+08,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,5.577086e+08,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,7.907551e+08,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,9.940222e+08,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

### Understanding each Columns

In [16]:
for cols in data.columns:
    print(f"Number of unique labels in {cols} : {data[cols].nunique()}")
    if data[cols].nunique() < 15 :
        print("List of labels : \n",data[cols].unique())
        
    print("------------------------------------------")

Number of unique labels in Region : 7
List of labels :
 ['Australia and Oceania' 'Central America and the Caribbean' 'Europe'
 'Sub-Saharan Africa' 'Asia' 'Middle East and North Africa'
 'North America']
------------------------------------------
Number of unique labels in Country : 76
------------------------------------------
Number of unique labels in Item Type : 12
List of labels :
 ['Baby Food' 'Cereal' 'Office Supplies' 'Fruits' 'Household' 'Vegetables'
 'Personal Care' 'Clothes' 'Cosmetics' 'Beverages' 'Meat' 'Snacks']
------------------------------------------
Number of unique labels in Sales Channel : 2
List of labels :
 ['Offline' 'Online']
------------------------------------------
Number of unique labels in Order Priority : 4
List of labels :
 ['H' 'C' 'L' 'M']
------------------------------------------
Number of unique labels in Order Date : 100
------------------------------------------
Number of unique labels in Order ID : 100
------------------------------------------
Number of unique labels in Ship Date : 99
------------------------------------------
Number of unique labels in Units Sold : 99
------------------------------------------
Number of unique labels in Unit Price : 12
List of labels :
 [255.28 205.7  651.21   9.33 668.27 154.06  81.73 109.28 437.2   47.45
 421.89 152.58]
------------------------------------------
Number of unique labels in Unit Cost : 12
List of labels :
 [159.42 117.11 524.96   6.92 502.54  90.93  56.67  35.84 263.33  31.79
 364.69  97.44]
------------------------------------------
Number of unique labels in Total Revenue : 100
------------------------------------------
Number of unique labels in Total Cost : 100
------------------------------------------
Number of unique labels in Total Profit : 100
------------------------------------------

## Exploratory Data Analysis

In [19]:
# Group by Region and Country, then calculate the total profit for each group
region_country_profit = data.groupby(['Region', 'Country'])['Total Profit'].sum().reset_index()

# Display the result
print(region_country_profit)

                Region       Country  Total Profit
0                 Asia    Bangladesh     606834.72
1                 Asia        Brunei     846885.00
2                 Asia    Kyrgyzstan       7828.12
3                 Asia          Laos     235601.16
4                 Asia      Malaysia      15103.47
..                 ...           ...           ...
71  Sub-Saharan Africa       Senegal     584073.87
72  Sub-Saharan Africa  Sierra Leone     649879.30
73  Sub-Saharan Africa   South Sudan      53252.50
74  Sub-Saharan Africa    The Gambia    1385883.27
75  Sub-Saharan Africa        Zambia     225246.90

[76 rows x 3 columns]

In [20]:
data.groupby(['Region', 'Country'])['Total Profit'].sum().reset_index()

                Region       Country  Total Profit
0                 Asia    Bangladesh     606834.72
1                 Asia        Brunei     846885.00
2                 Asia    Kyrgyzstan       7828.12
3                 Asia          Laos     235601.16
4                 Asia      Malaysia      15103.47
..                 ...           ...           ...
71  Sub-Saharan Africa       Senegal     584073.87
72  Sub-Saharan Africa  Sierra Leone     649879.30
73  Sub-Saharan Africa   South Sudan      53252.50
74  Sub-Saharan Africa    The Gambia    1385883.27
75  Sub-Saharan Africa        Zambia     225246.90

[76 rows x 3 columns]

In [21]:
region_max_revenue = data.groupby('Region')['Total Revenue'].sum().idxmax()
max_revenue = data.groupby('Region')['Total Revenue'].sum().max()

print(f'The region with the highest total revenue is {region_max_revenue} with a total revenue of {max_revenue}')

The region with the highest total revenue is Sub-Saharan Africa with a total revenue of 39672031.43